@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --orange: #E0712C;
    --purple: #AB44E0;
    --green: #c2e13f;
    --blue: #4BDBE1;

}

/* CSS RESET */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h1, h2, h3, h4 {
    text-wrap: balance;
}

/* CSS PROPER */

body {
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.line {
    font-family: 'Amatic SC', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    margin-block: 1rem;
}

.line:nth-child(1):hover {
    color: var(--orange);
}

.line:nth-child(2):hover {
    color: var(--green);
}

.line:nth-child(3):hover {
    color: var(--blue);
}

.line:nth-child(4):hover {
    color: var(--purple);
}

.word {
    transition: all 500ms;
    cursor: pointer;
}

.menu:has(.fancy:hover) .word:not(.fancy:hover) {
    opacity: 0.2;
}

.fancy:hover {
    transform: scale(120%);
    transition: all 300ms;
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(-2%);
    }
    50% {
        transform: translateY(2%);
    }
    100% {
        transform: translateY(-2%);
    }
}

.fancy > .letter {
    display: inline-block;
    transition: transform 500ms ease;
}

.fancy:hover > .letter:nth-child(1) {
    transform: translate(-20%, 20%) rotate(-10deg);
}

.fancy:hover > .letter:nth-child(2) {
    transform: translate(0%, -10%) rotate(10deg);
}

.fancy:hover > .letter:nth-child(3) {
    transform: translate(20%, 10%) rotate(5deg);
}

.fancy:hover > .letter:nth-child(4) {
    transform: translate(10%, -5%) rotate(10deg);
}

.fancy:hover > .letter:nth-child(5) {
    transform: translate(5%, -10%) rotate(5deg);
}

.fancy:hover > .letter:nth-child(6) {
    transform: translate(20%, 10%) rotate(-5deg);
}

.fancy:hover > .letter:nth-child(7) {
    transform: translate(10%, -5%) rotate(-10deg);
}

.fancy:hover > .letter:nth-child(8) {
    transform: translate(20%, 10%) rotate(10deg);
}


.main-container {
    height: 100vh;
    width: min(100vh - 3rem, 1140px);
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5rem;
}

.menu {
    grid-row-start: 2;
    grid-column-start: 2;
    min-width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-family: 'Amatic SC', sans-serif;
    text-transform: uppercase;
    font-size: 1.8rem;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-lr;
    text-orientation: use-glyph-orientation;
    transform: rotate(180deg);
    transition: all 1s;
}

.title p {
    font-size: 2.5rem;
}

.title#rotate {
    transform: rotate(270deg) translate(6rem, -5rem);
    transition: all 2s;
}

#head {
    width: 15rem;
    height: 15rem;
    rotate: 90deg;
    position: absolute;
    display: none;
    opacity: 0;
    right: 12rem;
    animation: vanish 0.5s;

}

.title#rotate #head {
    display: block;
    opacity: 1;
    animation: appear 1s, float 3.5s ease-in-out infinite;

}

@keyframes appear {
    0% {
        display: none;
        opacity: 0;
    }
    50% {
        display: none;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes vanish {
    0% {
        display: block;
        opacity: 1;
    }
    100% {
        display: none;
        opacity: 0;
    }
}

/* @keyframes appear-flex {
    0% {
        display: none;
        opacity: 0;
    }
    50% {
        display: none;
        opacity: 0;
    }
    100% {
        display: flex;
        opacity: 1;
    }
}

@keyframes vanish-flex {
    0% {
        display: flex;
        flex-direction: column;
        justify-items: space-evenly;
        align-items: center;
        gap: 1rem;
        height: 100%;
        opacity: 1;
    }
    100% {
        display: none;
        opacity: 0;
    }
    
} */

.content {
    grid-column-start: 3;
    grid-row-start: 2;
    padding: 1rem;
}


.content p {
    font-family: 'Nunito Sans', sans-serif;
    text-indent: 1rem;
    text-align: justify;
}

.box {
    display: none;
    opacity: 0;
    animation: vanish 0.5s;
}

.box#visible {
    display: block;
    opacity: 1;
    animation: appear 1s;

}

.aboutme_content {
    border: var(--orange) solid 3px;
    border-radius: 1rem;
}

.projects_content {
    display: none;
    opacity: 0;
    transition-property: display opacity;
    transition-duration: 1s;
    transition-behavior: allow-discrete;
}

.projects_content#visible {
    display: block;
    opacity: 1;
    padding: 0;
    margin-inline: auto;
    height: 100%;

    @starting-style {
        opacity: 0;
    }
}

.project-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#visible.projects_content .project1,
#visible.projects_content .project2,
#visible.projects_content .project3 {
    display: block;
    opacity: 1;
    width: 100%;
    height: 100%;
    border: #c2e13f solid 2px;
    border-radius: 1rem;
    transition: transform 0.5s ease;
}

#visible.projects_content .project1:hover,
#visible.projects_content .project2:hover,
#visible.projects_content .project3:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.project1, .project2, .project3 {
    display: none;
    opacity: 0;
}

.skills_content {
    display: none;
    opacity: 0;
    transition-property: display opacity;
    transition-duration: 1s;
    transition-behavior: allow-discrete;
}

.skills_content#visible {
    display: block;
    opacity: 1;
    padding: 0;
    margin-inline: auto;
    height: 100%;

    @starting-style {
        opacity: 0;
    }
}

.skill-box {
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 0.5rem;
}

.skill {
    border: var(--blue) solid 2px;
    border-radius: 1rem;
    animation: slide-in 0.5s ease-in;
    padding: 0.5rem;
}

.skill h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    font-family: 'Amatic SC', sans-serif;
    font-size: 2rem;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
    
}

.skill.design {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: min-content;
    align-items: center;
    justify-items: center;

}


.skill.webdev {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: min-content;
    align-items: center;
    justify-items: center;
}

.skill.datasci {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content 90px;
    align-items: center;
    justify-items: center;
}

.tool {
    border: rgba(255,255,255,0) solid 1px;
    border-radius: 1rem;
    max-height: 90px;
    width: 60px;
    padding: 0.5rem;
    filter: saturate(0);
    scale: 0.9;
    transition: all 0.5s;
}

.tool:hover {
    border: #fff solid 1px;
    border-radius: 1rem;
    scale: 1;
    filter: saturate(1);
    transition: all 0.5s;
    background: radial-gradient(circle, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%);

}

.tool#threejs {
    filter: invert(1);
}

.tool#threejs:hover {
    border: #000000 solid 1px;
    border-radius: 1rem;
    background: radial-gradient(circle, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0) 100%);
}

.contact_content {
    border: #AB44E0 solid 1px;
    height: 100%;
}

.contact-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-box p {
    font-family: 'Amatic SC', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
}

.contact-box span {
    font-weight: 900;
    color: var(--purple);
}


@media only screen and (max-width: 980px) {
    
    .main-container {
        height: 100vh;
        width: min(100vh - 3rem, 1140px);
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0.5rem;
    }

    .title {
        font-family: 'Amatic SC', sans-serif;
        text-transform: uppercase;
        font-size: 1.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        writing-mode: horizontal-tb;
        text-orientation: unset;
        transform: rotate(0deg);
        transition: all 1s;
        position: absolute;
        top: 10vh;
    }

    .title p {
        font-size: 2.5rem;
    }
    
    .title#rotate {
        transform: rotate(0deg) translate(0,0);
        transition: all 2s;
    }

    #head {
        width: 20rem;
        height: 20rem;
        rotate: 0deg;
        position: absolute;
        display: none;
        opacity: 0;
        right: auto;
        left: -18rem;
        animation: vanish 0.5s;
    
    }
    
    .title#rotate #head {
        display: block;
        opacity: 1;
        animation: appear 1s, float 3.5s ease-in-out infinite;
    
    }

    .menu {
        min-width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 20vh;
    }

    .line {
        font-family: 'Amatic SC', sans-serif;
        font-weight: 900;
        font-size: 6rem;
        margin-block: 1rem;
    }

    .content {
        padding: 1rem;
        margin: 5rem;
        font-size: 2rem;
        transform: translateY(5rem);
    }
    
}